In [1]:
import pandas as pd
import numpy as np

In [5]:
data = pd.read_csv('C:\\Users\\Admin\\HeartDiseasePrediction\\heart_disease.csv')

In [6]:
data

,Gender,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,Heart_ stroke
0,Male,39,postgraduate,0,0.0,0.0,no,0,0,195.0,106.0,70.0,26.97,80.0,77.0,No
1,Female,46,primaryschool,0,0.0,0.0,no,0,0,250.0,121.0,81.0,28.73,95.0,76.0,No
2,Male,48,uneducated,1,20.0,0.0,no,0,0,245.0,127.5,80.0,25.34,75.0,70.0,No
3,Female,61,graduate,1,30.0,0.0,no,1,0,225.0,150.0,95.0,28.58,65.0,103.0,yes
4,Female,46,graduate,1,23.0,0.0,no,0,0,285.0,130.0,84.0,23.10,85.0,85.0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4233,Male,50,uneducated,1,1.0,0.0,no,1,0,313.0,179.0,92.0,25.97,66.0,86.0,yes
4234,Male,51,graduate,1,43.0,0.0,no,0,0,207.0,126.5,80.0,19.71,65.0,68.0,No
4235,Female,48,primaryschool,1,20.0,NaN,no,0,0,248.0,131.0,72.0,22.00,84.0,86.0,No
4236,Female,44,uneducated,1,15.0,0.0,no,0,0,210.0,126.5,87.0,19.16,86.0,NaN,No
4237,Female,52,primaryschool,0,0.0,0.0,no,0,0,269.0,133.5,83.0,21.47,80.0,107.0,No

In [7]:
data.drop(columns=['education'], inplace=True)

In [8]:
data.dropna(inplace=True)

In [13]:
data['prevalentStroke'] = data['prevalentStroke'].replace(['yes','no'],[1,0])

In [14]:
data.prevalentStroke.unique()

array([0, 1], dtype=int64)

In [16]:
data['Heart_ stroke'].unique()

array(['No', 'yes'], dtype=object)

In [17]:
data['Heart_ stroke'] = data['Heart_ stroke'].replace(['No','yes'],[0,1])

In [18]:
data

,Gender,age,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,Heart_ stroke
0,1,39,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4231,1,58,0,0.0,0.0,0,1,0,187.0,141.0,81.0,24.96,80.0,81.0,0
4232,1,68,0,0.0,0.0,0,1,0,176.0,168.0,97.0,23.14,60.0,79.0,1
4233,1,50,1,1.0,0.0,0,1,0,313.0,179.0,92.0,25.97,66.0,86.0,1
4234,1,51,1,43.0,0.0,0,0,0,207.0,126.5,80.0,19.71,65.0,68.0,0
4237,0,52,0,0.0,0.0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.0,0

In [19]:
data_input = data.drop(columns=['Heart_ stroke'])
data_output = data['Heart_ stroke']

In [20]:
data_output.value_counts()

Heart_ stroke
0    3177
1     572
Name: count, dtype: int64

In [22]:
pip install imblearn

Defaulting to user installation because normal site-packages is not writeable
Collecting imblearn
  Downloading imblearn-0.0-py2.py3-none-any.whl (1.9 kB)
Collecting imbalanced-learn (from imblearn)
  Downloading imbalanced_learn-0.11.0-py3-none-any.whl.metadata (8.3 kB)
Requirement already satisfied: numpy>=1.17.3 in c:\users\admin\appdata\roaming\python\python312\site-packages (from imbalanced-learn->imblearn) (1.26.2)
Requirement already satisfied: scipy>=1.5.0 in c:\users\admin\appdata\roaming\python\python312\site-packages (from imbalanced-learn->imblearn) (1.11.4)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\admin\appdata\roaming\python\python312\site-packages (from imbalanced-learn->imblearn) (1.3.2)
Requirement already satisfied: joblib>=1.1.1 in c:\users\admin\appdata\roaming\python\python312\site-packages (from imbalanced-learn->imblearn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\admin\appdata\roaming\python\python312\site-packages (from imbalanced-learn->imblearn) (3.2.0)
Downloading imbalanced_learn-0.11.0-py3-none-any.whl (235 kB)
   ---------------------------------------- 0.0/235.6 kB ? eta -:--:--
   ----- --------------------------------- 30.7/235.6 kB 660.6 kB/s eta 0:00:01
   ------------------------ --------------- 143.4/235.6 kB 1.7 MB/s eta 0:00:01
   ---------------------------------------  235.5/235.6 kB 2.9 MB/s eta 0:00:01
   ---------------------------------------  235.5/235.6 kB 2.9 MB/s eta 0:00:01
   ---------------------------------------- 235.6/235.6 kB 1.1 MB/s eta 0:00:00
Installing collected packages: imbalanced-learn, imblearn
Successfully installed imbalanced-learn-0.11.0 imblearn-0.0
Note: you may need to restart the kernel to use updated packages.

In [23]:
from imblearn.over_sampling import SMOTE

In [24]:
sm = SMOTE(random_state=2)

In [26]:
data_input, data_output = sm.fit_resample(data_input, data_output.ravel())

In [28]:
np.unique(data_output, return_counts=True)

(array([0, 1], dtype=int64), array([3177, 3177], dtype=int64))

In [29]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [30]:
x_train, x_test, y_train, y_test = train_test_split(data_input, data_output, test_size=0.2)

In [31]:
model = LogisticRegression()

In [32]:
model.fit(x_train, y_train)

C:\Users\Admin\AppData\Roaming\Python\Python312\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [33]:
model.score(x_test, y_test)

0.6420141620771046

In [36]:
input = np.array([[0,59,0,0,0,0,1,0,209,150,85,20.77,90,88]])

In [38]:
x = model.predict(input)

C:\Users\Admin\AppData\Roaming\Python\Python312\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

In [39]:
x[0]

1

In [40]:
import pickle as pk

In [41]:
pk.dump(model, open('Heart_disease_model.pkl','wb'))